.modal-window {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  button {
    margin-top: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    border-radius: 4px;
    background: #7350ff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
    cursor: pointer;
  }
}