@import 'src/styles/breakpoints';

.modal-window {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 3px;
  width: 80%;

  .modal-close {
    cursor: pointer;
    width: 20px;
    align-self: flex-end;
  }

  .modal-content {
    display: flex;
  }

  .image {
    width: 200px;
  }

  button {
    margin-top: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    border-radius: 4px;
    background: #7350ff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
    cursor: pointer;
  }
}

@media only screen and (max-width: $break-med) {
  .modal-content {
    flex-direction: column;
  }

  .modal-image, .modal-text {
    width: 100%;
  }
}

@media only screen and (min-width: $break-med) {
  .modal-image, .modal-text {
    width: 50%;
  }
}